.inventory__item {
    width: 24vw;
    height: 70vh;
    margin: 0 2rem 2rem 0.5rem;
    padding: 1rem;
    border-bottom: 5px solid var(--color-gold);
    border-right: 5px solid var(--color-lightGold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__description {
    display: flex;
    text-wrap: wrap;
    text-align: left;
    padding: 1rem 0 1rem 2rem;
}

.item__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.item__header p {
    justify-self: flex-start;
    text-wrap: wrap;
}

.item__image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    min-width: 201px;
    height: 210px;
    margin-bottom: 1rem;
}

.item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .item__image img {
        width: 100%;
        min-height: 150px;
        min-width: 150px;
    }

    .horizontal__divider {
        align-self: flex-start;
    }

    .item__description {
        text-align: center;
    }
}

@media screen and (max-width: 1025px) {
    .inventory__item {
        width: 300px;
        padding: 2rem;
        height: 500px;
    }
}

@media screen and (max-width: 450px) {
    .inventory__item {
        width: 200px;
        padding: 2rem;
        height: 400px;
    }


}