.app__header {
    background-color: black;
}

.app__wrapper_img {
    width: 80%;
}

.app__wrapper_img img {
    border: 5px outset var(--color-gold)
}

.app__header-h1 {
    color: var(--color-gold);
    font-size: var(--font-base);
    font-size: 90px;
    letter-spacing: 0.04em;
    line-height: 117px;
}

@media screen and (max-width: 590px) {
    .app__header-h1 {
        font-size: 75px;
    }
}

@media screen and (max-width: 510px) {
    .app__header-h1 {
        font-size: 55px;
        line-height: 65px;
    }

}