@import url('https://fonts.googleapis.com/css?family=Tenor+Sans:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Tenor Sans', serif;
  --font-alt: 'Open Sans', sans-serif;  

  --color-gold: #CFB483;
  --color-lightGold: #F2DEC5;
  --color-lightSilver: #C9C9CB;
  --color-darkSilver: #87868B;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

