.modal__container {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--color-gold);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal__content {
    margin: 5% auto;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 90%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modal__content > *:nth-child(3) {
    border-top: 5px solid var(--color-lightSilver);
    padding-top: 1rem;
}

body.modal-open {
    overflow: hidden;
}

.modal__gallery {
    max-width: 100%;
    height: 50vh;
}

.modal__gallery .slider {
    height: 100%;
}

.modal__gallery .carousel-slider {
    width: 100%;
    height: 100%;
}

.modal__gallery li {
    list-style: none;
}

.modal__gallery > div {
    overflow: hidden;
}

.modal__gallery > div > div {
    height: 100%;
    width: 100%;
}

.gallery__item {
    width: 100%;
    height: 100%;
}

.gallery__item-img {
    width: 100%;
    height: 100%;
}

.gallery__item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}